@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital@0;1&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: "Urbanist", serif;
  background: #ebe9e9;
}
::-webkit-scrollbar{
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-thumb{
  background:#3D7DF9 !important;
}
::-webkit-scrollbar-track{
  background: transparent !important;
}
.btn-blue{
  background:#3D7DF9 !important;
  font-size: 13px  !important;
  font-weight: 500;
  color: white !important;
}
header{
  width: 100%;
  height: 70px;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
header .logo img{
 width:45px ; 
}
header .logo{
  text-decoration: none;
}

header .logo span{
   color: rgb(47, 46, 46);
   font-weight: 800;
   font-size:24px ;
 }
 header button.rounded-circle{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #F0F5FF !important;
  color: #292929;
 }
 header button.rounded-circle svg{
  font-size: 18px !important;
  transition: all 0.2s ease-in-out;
 }

 header button.rounded-circle:hover svg{
  color: #3D7DF9;
 }
 .searchBox{
   width: 400px;
   height: 40px;
   background: #F0F5FF;
   border-radius: 6px;
   padding: 3px 15px;
 }
 .searchBox input{
  background: transparent  ;
  border: 0px;
  outline: none;
  padding-left: 0px;
  color: #292929;
  font-size: 14px;
 }
 .searchBox svg{
  font-size: 18px;
  color: #292929;
 }
  .userImg .rounded-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;

 }
  .userImg .rounded-circle img{
  object-fit: cover;
  width: 100%;
  height: 100%;
 }
 .userImg{
  width: 40px;
  height: 40px;
  border: 1px solid #3D7DF9;
  overflow: hidden;
  padding: 2px;
  border-radius:100% ;
 }
 .myAcc{
  text-align: left;
  color: black !important;
 }
 .myAcc .userInfo{
  padding-left: 15px;
 }
 .myAcc .userInfo h4{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
 }
 .myAcc .userInfo p{
  margin-top: 0px;
  font-size: 12px;
  color: black;
  opacity: 0.7;
 }
 #account-menu li{
  font-size: 14px !important;
  padding: 12px 15px;
 }
 #account-menu li svg{
  font-size: 20px !important;
 }
 #notifications .MuiPaper-elevation{
  right: 240px !important;
  width: 300px !important;
  left: auto !important;
 }
 .dropdown-list .head h4{
font-size: 16px;
font-weight: 600;
 } 
 .dropdown-list .head{
  padding: 10px 0px;
 }
 
 .dropdown-list li.MuiButtonBase-root{
  background: #EBF6FF !important;
  color: black !important;
  padding:10px 15px !important ;
 }

 .dropdown-list li.MuiButtonBase-root:hover{
  background: #c5d6e4 !important; 
 }
 .dropdownnInfo {
  padding-left: 15px;
 }
 .dropdownnInfo h4{
  font-size: 13px;
  font-weight: 500;
  white-space: break-spaces;
  line-height: 18px;
 }
 .dropdownnInfo h4 b{
  font-weight: 600;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0px;
 }
 .dropdownnInfo p{
  font-size: 12px;
  font-weight: 500;
  margin-top: 0;
 }
 .text-sky{
  color: #3D7DF9 !important;
 }
 .dropdown-list .scroll{
  max-height:300px ;
  overflow-y: scroll;
  overflow-x: hidden;
 }
.main .sidebarwrapper{
  width: 20%;
  flex:0 0 20% ;
  transition: all 0.3s ease-in-out;
}
.main .sidebarwrapper .sidebar{
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 70px;left: 0px;
  background: white;
}
.main .sidebarwrapper .sidebar ul{
  margin-bottom: 0px;
  padding: 10px 15px;
}
.main .sidebarwrapper .sidebar ul li{
  list-style: none;
}
.main .sidebarwrapper .sidebar ul li button{
  color: #000;
  text-align:left ;
  justify-content: left;
  border-radius: 10px !important;
  padding: 12px 10px;
  align-items: center;
  font-weight:600 !important;
  font-family: "Urbanist", serif !important;
  font-size: 15px;
}
.main .sidebarwrapper .sidebar ul li button .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
} 
.main .sidebarwrapper .sidebar ul li button .icon svg{
  
  font-size: 22px;
}
.main .sidebarwrapper .sidebar ul li button *{
  color: #000;
  opacity: 0.9;
}
.main .sidebarwrapper .sidebar ul li button .arrow{
 margin-left: auto;
 display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out; 
}
.main .sidebarwrapper .sidebar ul li button:hover{
  background: #f1f1f1 !important;
}
.main .sidebarwrapper .sidebar ul li button.active{
  background: #f1f1f1 !important;
}
.main .sidebarwrapper .sidebar ul li button.active .icon svg{
  color:#3174fb !important;
}
.main .sidebarwrapper .sidebar ul li button.active .arrow{
  transform: rotate(90deg);
}
.main .sidebarwrapper .sidebar ul .submenu li{
  width: 100%;
  list-style: none;
}
.main .sidebarwrapper .sidebar ul .submenu {
  padding:0px 45px;
  position: relative;
}
.main .sidebarwrapper .sidebar ul .submenu::before{
  content:''; width: 1px; height: 95%; position: absolute;
  top: 0px;
  left: 25px;
  background: #000;
  opacity: 0.5;
}
.main .sidebarwrapper .sidebar ul .submenu li{
  width: 100%;
  list-style: none;
  
}
.main .sidebarwrapper .sidebar ul .submenu li a{
  color: #000;
  opacity: 0.9;
  text-decoration: none;
 display: block;
 padding: 6px 0px;
 font-size: 14px;
 font-weight: 500;
 transition: all 0.4s;
}
.main .sidebarwrapper .sidebar ul .submenu li a:hover{
color: #3D7DF9;
}
.main .sidebarwrapper .sidebar ul .submenuWappper{
  transition: all 0.3s;
  height: 0px;
  overflow: hidden;
}
.main .sidebarwrapper .sidebar ul .submenuWappper.colapsed{
  height: 0px;
}
.main .sidebarwrapper .sidebar ul .submenuWappper.colapsed .submenu{
  opacity: 0;
}
.main .sidebarwrapper .sidebar ul .submenuWappper.colapse{
  height: auto;
  overflow: inherit;
  opacity: 1;
  padding: 10px 0px;
}
.main .sidebarwrapper .sidebar ul .submenuWappper.colapse .submenu{
  opacity: 1;
}
.logoutwrapper{
  padding: 0px 25px;
}
.logoutwrapper .logoutBox{
  width: 100%;
  height: 100px;
  padding: 25px;
  background: #bdd1fb;
  border-radius: 10px;
 position: relative;
 overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoutwrapper .logoutBox::before{
  content: '';width: 70px;
  height:  70px  ;
  background: #3174fb;border-radius: 100%;
  position:absolute ; top: -20px;
  right: -20px;opacity: 0.5;
}
.logoutwrapper .logoutBox::after{
  content: '';width: 30px;
  height:  30px  ;
  background: #3174fb;border-radius: 100%;
  position:absolute ; top: 20px;left: 10px;
 opacity: 0.5;
}

.logoutwrapper .logoutBox button{
  font-size: 14px !important;
   font-weight: 600 !important;
}
.logoutwrapper .logoutBox button svg{
  margin-right: 5px;
  font-size: 18px;
}
.main .content{
  width: 80%;
  flex: 0 0 80%;
}
.right-content{
  padding: 90px 30px;
}

.right-content{
  padding: 90px 30px;
}
.dashboardBoxWrapper{
  gap: 20px;
  width: 100%;
  flex-wrap:wrap ;
}
.dashboardBoxWrapper .dashboardBox{
 width: 48%;
 height: 170px;
 background: rgb(219, 211, 211);
 border-radius:10px  ;
 overflow: hidden;
 padding: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-align: left !important;
 position: relative;
 color: white;
}
.dashboardBoxWrapper .dashboardBox .col1 h4{
  font-size: 16px;
  font-weight: 500;
}
.dashboardBoxWrapper .dashboardBox .col1  span{
  font-weight: 700;
  font-size:40px !important ;
  line-height: 45px;
}
.dashboardBoxWrapper .dashboardBox .icon svg{
font-size: 30px;
opacity: 0.4;
color: white;
}
.dashboardBoxWrapper .dashboardBox .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;border-radius: 10px;
  background-image: linear-gradient(to bottom right,rgba(0,0,0,0.0),rgba(0,0,0,0.4));
}
.dashboardBoxWrapper .dashboardBox .chart{
 position: absolute;
 bottom: 20px;
 left: 20px;
}
.dashboardBoxWrapper .dashboardBox .chart svg{
  font-size: 110px;
  color: black;
  opacity: 0.1;
}
.dashboardBoxWrapperRow .box{
  width:100%;
  height: 100%;
  background: #cdc4c4;
}

.dashboardBoxWrapper .dashboardBox .toggleIcon{
 cursor: pointer;
 color: rgba(0,0,0,0.5); 
 font-size: 22px;
 min-width: 40px !important;
 width: 40px !important;
 height: 40px !important;
 border-radius: 50%;
}
.dashboardBoxWrapper .dashboardBox .bottomEle{
position: relative;
top: 15px;
}
.dashboardBoxWrapper .dashboardBox .MuiList-root svg{
  color: black !important;
 font-size: 17px;
 margin-right: 10px !important; 
}
.dropdown_menu .MuiButtonBase-root svg{
 
 margin-right: 10px !important; 
}
.grapBox{
  background-image: linear-gradient();
}

